In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_excel("/Users/jeetarora/Downloads/Flight_Price_resources/Data_Train.xlsx")
data
#original data, raw data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [33]:
data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [34]:
data.dropna(inplace=True)

In [35]:
data.isnull().sum()
#no more null values

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [36]:
def change_into_Datetime(col):
    data[col]=pd.to_datetime(data[col])
import warnings
from warnings import filterwarnings
filterwarnings("ignore")
#warnings will be shown, code made to avoid it
for feature in ['Dep_Time','Arrival_Time','Date_of_Journey' ]:
    change_into_Datetime(feature)
data.dtypes
#assignining special data types for columns involving dates and time related data

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time           datetime64[ns]
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
dtype: object

In [37]:
data["Journey_Day"]= data['Date_of_Journey'].dt.day
data["Journey_Month"]= data['Date_of_Journey'].dt.month
data["Journey_Year"]= data['Date_of_Journey'].dt.year
data
#easier for the machine to use and each individual aspect of the date rather than reading the whole date itself

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Journey_Year
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2024-08-07 22:20:00,2024-03-22 01:10:00,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,2024-08-07 05:50:00,2024-08-07 13:15:00,7h 25m,2 stops,No info,7662,5,1,2019
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,2024-08-07 09:25:00,2024-06-10 04:25:00,19h,2 stops,No info,13882,6,9,2019
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU → NAG → BLR,2024-08-07 18:05:00,2024-08-07 23:30:00,5h 25m,1 stop,No info,6218,5,12,2019
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR → NAG → DEL,2024-08-07 16:50:00,2024-08-07 21:35:00,4h 45m,1 stop,No info,13302,3,1,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-09-04,Kolkata,Banglore,CCU → BLR,2024-08-07 19:55:00,2024-08-07 22:25:00,2h 30m,non-stop,No info,4107,4,9,2019
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,2024-08-07 20:45:00,2024-08-07 23:20:00,2h 35m,non-stop,No info,4145,27,4,2019
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,2024-08-07 08:20:00,2024-08-07 11:20:00,3h,non-stop,No info,7229,27,4,2019
10681,Vistara,2019-01-03,Banglore,New Delhi,BLR → DEL,2024-08-07 11:30:00,2024-08-07 14:10:00,2h 40m,non-stop,No info,12648,3,1,2019
10682,Air India,2019-09-05,Delhi,Cochin,DEL → GOI → BOM → COK,2024-08-07 10:55:00,2024-08-07 19:15:00,8h 20m,2 stops,No info,11753,5,9,2019

In [38]:
def extraction_time(df,col):
    df[col+"_hour"] = df[col].dt.hour
    df[col+"_minute"]=df[col].dt.minute
extraction_time(data, "Dep_Time")
extraction_time(data, "Arrival_Time")
cols_to_drop = ['Arrival_Time', "Dep_Time"]
data.drop(cols_to_drop, axis=1, inplace=True )
data
#machine learning models will read the hour andd minute of the respective columns seperately to make it easier
#fully prepared and cleaned dataset
#data is ready for analysis

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Journey_Year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,22,20,1,10
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,5,1,2019,5,50,13,15
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,6,9,2019,9,25,4,25
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,5,12,2019,18,5,23,30
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,3,1,2019,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-09-04,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,4107,4,9,2019,19,55,22,25
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4145,27,4,2019,20,45,23,20
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,3h,non-stop,No info,7229,27,4,2019,8,20,11,20
10681,Vistara,2019-01-03,Banglore,New Delhi,BLR → DEL,2h 40m,non-stop,No info,12648,3,1,2019,11,30,14,10
10682,Air India,2019-09-05,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2 stops,No info,11753,5,9,2019,10,55,19,15

In [ ]:
import plotly.graph_objs as go

# Assuming 'data' is your DataFrame and 'Dep_Time_hour' is a column containing hour values
# If 'Dep_Time_hour' is not a column in your DataFrame, replace it with the appropriate column name

# Define your part_of_day function
def part_of_day(x):
    if (x > 4) and (x <= 8):
        return "Early Morning"
    elif (x > 8) and (x <= 12):
        return "Morning"
    elif (x > 12) and (x <= 16):
        return "Noon"
    elif (x > 16) and (x <= 20):
        return "Evening"
    elif (x > 20) and (x <= 24):
        return "Night"
    else:
        return "Midnight"

# Apply the function to your DataFrame column and create a bar plot
part_of_day_counts = data['Dep_Time_hour'].apply(part_of_day).value_counts()
fig = go.Figure(data=[go.Bar(x=part_of_day_counts.index, y=part_of_day_counts.values)])
fig.show()

In [ ]:
def preprocess_duration(x):
    if 'h' not in x:
        x = '0h' + ' ' + x
    elif 'm' not in x:
        x = x + ' ' + '0m'
    return x
data['Duration'] = data['Duration'].apply(preprocess_duration)
data['Duration_Hours'] = data['Duration'].apply(lambda x : int(x.split(' ')[0][0:-1]) )
data['Duration_Mins'] = data['Duration'].apply(lambda x : int(x.split(' ')[1][0:-1]) )
data

In [ ]:
data['Full_Minutes'] = data['Duration'].str.replace('h', "*60").str.replace(' ', '+').str.replace('m','*1').apply(eval)
sns.scatterplot(x="Full_Minutes", y="Price",hue="Total_Stops", data = data )

In [ ]:
sns.scatterplot(x="Full_Minutes", y="Price", data = data )

In [ ]:
sns.boxplot(y= 'Price', x='Airline',data=data.sort_values('Price', ascending=False))
plt.xticks(rotation="vertical")
plt.show()

In [ ]:
categorical_columns = [col for col in data.columns if data[col].dtype=="object"]
numerical_columns = [col for col in data.columns if data[col].dtype!="object"]
categorical_columns

In [ ]:
data['Source'].unique()

In [ ]:
for sub_category in data['Source'].unique():
    data['Source_' + sub_category] = data['Source'].apply(lambda x : 1 if x == sub_category else 0)
data

# one-hot Encoding the destination feature

In [ ]:
airlines= data.groupby(['Airline'])['Price'].mean().sort_values().index
dictionary_airlines = {key: index for index , key in enumerate(airlines,0)}
data['Airline'] = data['Airline'].map(dictionary_airlines)
data['Airline']

In [ ]:
data['Destination'].replace('New Delhi', 'Delhi', inplace=True)
data['Destination'].unique()

In [ ]:
dest = data.groupby(['Destination'])['Price'].mean().sort_values().index
dictionary_destination = {key: index for index , key in enumerate(dest,0)}
data['Destination'] = data['Destination'].map(dictionary_destination)
data['Destination']

In [ ]:
data.head(3)

In [ ]:
airlines

In [ ]:
dest

In [ ]:
stop = {'non-stop': 0, '2 stops': 2, '1 stop': 1, '3 stops': 3, '4 stops': 4}
data['Total_Stops'] = data['Total_Stops'].map(stop)
print(data['Total_Stops'])

In [ ]:
data.drop(columns= ['Date_of_Journey', 'Additional_Info', 'Full_Minutes', 'Source', 'Journey_Year', 'Route', 'Duration'], axis=1, inplace=True)

In [ ]:
data.head(3)

In [ ]:
#outliers for price section
q1 = data['Price'].quantile(0.25)
q3 = data['Price'].quantile(0.75)
iqr = q3 - q1
maximum = q3 + 1.5*iqr
minimum = q1 - 1.5*iqr
data['Price']= np.where(data['Price']>=35000, data['Price'].median(), data['Price'])
data.head(4)
#removing outliers

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import mean_squared_error, r2_score, precision_score, recall_score, f1_score
from scipy.stats import randint

# Assuming 'data' is already defined and loaded with the appropriate dataset

# Feature matrix X and target variable y
X = data[['Airline', 'Destination', 'Total_Stops', 'Journey_Day', 'Journey_Month', 
          'Dep_Time_hour', 'Dep_Time_minute', 'Arrival_Time_hour', 'Arrival_Time_minute', 
          'Duration_Hours', 'Duration_Mins', 'Source_Banglore', 'Source_Kolkata', 
          'Source_Delhi', 'Source_Chennai', 'Source_Mumbai']]
y = data['Price']

# Define the thresholds for categorizing the price
def categorize_price(price):
    if price < 5000:
        return 0  # Low
    elif price < 10000:
        return 1  # Medium
    else:
        return 2  # High

# Apply the categorization to the target variable
y_class = np.vectorize(categorize_price)(y)

# Split the data for classification
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X, y_class, test_size=0.2, random_state=42)

# Train the RandomForestClassifier
rf_Classifier = RandomForestClassifier(random_state=42)
rf_Classifier.fit(X_train_class, y_train_class)

# Make predictions for classification
y_pred_class = rf_Classifier.predict(X_test_class)

# Compute classification metrics
precision = precision_score(y_test_class, y_pred_class, average='weighted')
recall = recall_score(y_test_class, y_pred_class, average='weighted')
f1 = f1_score(y_test_class, y_pred_class, average='weighted')

# Print classification metrics
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

# Split the data for regression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the hyperparameter distributions
param_dist = {
    "n_estimators": randint(50, 300),
    "max_depth": [None] + list(np.arange(10, 51, 10)),
    "min_samples_split": randint(2, 20),
    "min_samples_leaf": randint(1, 10),
    "bootstrap": [True, False],
}

# Initialize the Random Forest Regressor
rf = RandomForestRegressor(random_state=42)

# Run Randomized Search
n_iter_search = 25  # Reduce the number of parameter settings that are sampled
random_search = RandomizedSearchCV(rf, param_distributions=param_dist, n_iter=n_iter_search, cv=5, verbose=2, random_state=42, n_jobs=-1)

# Fit the randomized search
random_search.fit(X_train, y_train)

# Best parameters from random search
best_params = random_search.best_params_

# Training the model with the best parameters
rf_best = RandomForestRegressor(**best_params, random_state=42)
rf_best.fit(X_train, y_train)

# Predictions
y_prediction = rf_best.predict(X_test)

# Evaluation
mse = mean_squared_error(y_test, y_prediction)
r2 = r2_score(y_test, y_prediction)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared Score: {r2:.2f}")
print("Best Parameters:", best_params)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import mean_squared_error, r2_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectKBest, f_regression

# Assuming 'data' is already defined and loaded with the appropriate dataset

# Feature matrix X and target variable y
X = data[['Airline', 'Destination', 'Total_Stops', 'Journey_Day', 'Journey_Month', 
          'Dep_Time_hour', 'Dep_Time_minute', 'Arrival_Time_hour', 'Arrival_Time_minute', 
          'Duration_Hours', 'Duration_Mins', 'Source_Banglore', 'Source_Kolkata', 
          'Source_Delhi', 'Source_Chennai', 'Source_Mumbai']]
y = data['Price']

# Define the thresholds for categorizing the price
def categorize_price(price):
    if price < 5000:
        return 0  # Low
    elif price < 10000:
        return 1  # Medium
    else:
        return 2  # High

# Apply the categorization to the target variable
y_class = np.vectorize(categorize_price)(y)

# Split the data for classification
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X, y_class, test_size=0.2, random_state=42)

# Pipeline for classification
pipeline_class = Pipeline([
    ('scaler', StandardScaler()),
    ('poly', PolynomialFeatures(degree=2, include_bias=False)),
    ('select', SelectKBest(score_func=f_regression, k='all')),
    ('ridge', Ridge())
])

# GridSearch for the best parameters
param_grid_class = {
    'ridge__alpha': [0.1, 1, 10, 100]
}

grid_search_class = GridSearchCV(pipeline_class, param_grid_class, cv=5, scoring='f1_weighted')
grid_search_class.fit(X_train_class, y_train_class)

# Best estimator
best_model_class = grid_search_class.best_estimator_

# Make predictions for classification
y_pred_class = best_model_class.predict(X_test_class)
y_pred_class_labels = np.digitize(y_pred_class, bins=[0.5, 1.5])

# Compute classification metrics
precision = precision_score(y_test_class, y_pred_class_labels, average='weighted')
recall = recall_score(y_test_class, y_pred_class_labels, average='weighted')
f1 = f1_score(y_test_class, y_pred_class_labels, average='weighted')

# Print classification metrics
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

# Split the data for regression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Pipeline for regression
pipeline_reg = Pipeline([
    ('scaler', StandardScaler()),
    ('poly', PolynomialFeatures(degree=2, include_bias=False)),
    ('select', SelectKBest(score_func=f_regression, k='all')),
    ('ridge', Ridge())
])

# GridSearch for the best parameters
param_grid_reg = {
    'ridge__alpha': [0.1, 1, 10, 100]
}

grid_search_reg = GridSearchCV(pipeline_reg, param_grid_reg, cv=5, scoring='neg_mean_squared_error')
grid_search_reg.fit(X_train, y_train)

# Best estimator
best_model_reg = grid_search_reg.best_estimator_

# Make predictions for regression
y_pred_reg = best_model_reg.predict(X_test)

# Compute regression metrics
mse = mean_squared_error(y_test, y_pred_reg)
r2 = r2_score(y_test, y_pred_reg)

# Print regression metrics
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared Score: {r2:.2f}")

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error, r2_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectKBest, f_regression

# Assuming 'data' is already defined and loaded with the appropriate dataset

# Feature matrix X and target variable y
X = data[['Airline', 'Destination', 'Total_Stops', 'Journey_Day', 'Journey_Month', 
          'Dep_Time_hour', 'Dep_Time_minute', 'Arrival_Time_hour', 'Arrival_Time_minute', 
          'Duration_Hours', 'Duration_Mins', 'Source_Banglore', 'Source_Kolkata', 
          'Source_Delhi', 'Source_Chennai', 'Source_Mumbai']]
y = data['Price']

# Define the thresholds for categorizing the price
def categorize_price(price):
    if price < 5000:
        return 0  # Low
    elif price < 10000:
        return 1  # Medium
    else:
        return 2  # High

# Apply the categorization to the target variable
y_class = np.vectorize(categorize_price)(y)

# Split the data for classification
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X, y_class, test_size=0.2, random_state=42)

# Pipeline for classification
pipeline_class = Pipeline([
    ('scaler', StandardScaler()),
    ('poly', PolynomialFeatures(include_bias=False)),
    ('select', SelectKBest(score_func=f_regression, k='all')),
    ('ridge', Ridge())
])

# GridSearch for the best parameters
param_grid_class = {
    'poly__degree': [1, 2, 3],
    'ridge__alpha': [0.1, 1, 10, 100, 1000]
}

grid_search_class = GridSearchCV(pipeline_class, param_grid_class, cv=5, scoring='f1_weighted')
grid_search_class.fit(X_train_class, y_train_class)

# Best estimator
best_model_class = grid_search_class.best_estimator_

# Make predictions for classification
y_pred_class = best_model_class.predict(X_test_class)
y_pred_class_labels = np.digitize(y_pred_class, bins=[0.5, 1.5])

# Compute classification metrics
precision = precision_score(y_test_class, y_pred_class_labels, average='weighted')
recall = recall_score(y_test_class, y_pred_class_labels, average='weighted')
f1 = f1_score(y_test_class, y_pred_class_labels, average='weighted')

# Print classification metrics
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

# Split the data for regression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Pipeline for regression
pipeline_reg = Pipeline([
    ('scaler', StandardScaler()),
    ('poly', PolynomialFeatures(include_bias=False)),
    ('select', SelectKBest(score_func=f_regression, k='all')),
    ('model', Ridge())
])

# GridSearch for the best parameters
param_grid_reg = {
    'poly__degree': [1, 2, 3],
    'model__alpha': [0.1, 1, 10, 100, 1000],
    'model': [Ridge(), Lasso(), ElasticNet()]
}

grid_search_reg = GridSearchCV(pipeline_reg, param_grid_reg, cv=5, scoring='neg_mean_squared_error')
grid_search_reg.fit(X_train, y_train)

# Best estimator
best_model_reg = grid_search_reg.best_estimator_

# Make predictions for regression
y_pred_reg = best_model_reg.predict(X_test)

# Compute regression metrics
mse = mean_squared_error(y_test, y_pred_reg)
r2 = r2_score(y_test, y_pred_reg)

# Print regression metrics
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared Score: {r2:.2f}")

# Print the best parameters for regression
print("Best Parameters for Regression:", grid_search_reg.best_params_)